 *{
    padding:3px;
    margin: 5px;

 }


h1{
    color: red;
 }


h2{
    color: aqua;
 }


h3{
    color: chartreuse;
 }

div{
    height:auto;
  width: auto;
    border: 6px solid red;
    border-radius:15px;
    padding: 5px;
    margin:4px;
    
 
}

/* Link  is selected using "a" tag */
a{
    color: rgb(78, 158, 21);
    margin:4px;
    padding: 4px;
    font-size: 18px;
}

a:hover{
    color: rgb(255, 0, 255);
    background-color: blue;
}

/* style of button  */
button{
    color: greenyellow;
    height: 40px;
    width: 200px;
    background-color: #29b810;
    font-size: 20px;
    border-radius: 5px;
    margin: 0.3em;
}

button:hover{
    background-color: rgb(22, 32, 138);
}